extends layout

block content
  br
  .w3-container
    .w3-card-4(style="padding: 15px;")
      p.w3-center Welcome #{user.firstName}
      h2.w3-center User Profile
      pre(style="padding: 15px; background-color: #F5F5F5;") #{userProfile}
